{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="py-5 bg-dark border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                {% if user.is_authenticated %}
                <h4 style="color: white;">My Wishlist</h4>
                {% else %}
                <p style="color: gainsboro;">You are not logged in. You must log in to add products.</p>
                <a href="{% url 'users:login-page' %}" style="color: aliceblue;">Log In</a>
                {% endif %}
            </div>
        </div>
    </header>

    <br>

<!-- Product Container -->
    <div class="container">
        <div class="row justify-content-center" id="prodContainer">
    
        </div>
    </div>

{% endblock %}

{% block extra_js %}

<script>
    //Get all products

    $(document).ready(function(){

    $.ajax({
        type:"GET",
        url:"/list/",
        success: function(data){
            $.each(data, function(i,dat){

                var ownerID = dat.owner.split('/')[1]
                let temp = ""

                $.ajax({
                    type: "GET",
                    url: "product-detail/" + dat.id + "/",
                    success:function(product){
                        var prodOwner = product.data.owner.split('/')[0]
                        var ownerID = product.data.owner.split('/')[1]
                        var wish = product.wishlisted
                        console.log(wish)
                        if(wish == true){

                            temp += "<div class='col-4'>"
                            temp += "<div class='card mb-3'>"
                            temp += "<h5 class='card-header'> Seller:<a href='users/profile-page/" + ownerID + "/'>" + prodOwner + "</h5></a>"
                            temp += "<div class='card-body'>"
                            temp += "<h3 class='card-title'>" + product.data.product_name + "</h3></div>"

                            if(product.data.prod_pic){
                                temp += "<center><img src='"+ product.data.prod_pic +"' id='prodPic'></img></center>"
                            }
                            else{
                                temp += "<center><img src='{% get_media_prefix %}defaultProdPic.png' id='prodPic'></img></center>"
                            }

                            temp += "<div class='card-body'>"

                            if(product.data.status === 1){
                                temp += "<p style='color:green;'><strong style='color:grey;'>Status: </strong>" + product.data.status_name + "</p>"
                            }
                            else if(product.data.status === 2){
                                temp += "<p style='color:red;'><strong style='color:grey;'>Status: </strong>" + product.data.status_name + "</p>"
                            }
                                        
                            temp += "<p><strong>Category: </strong>" + product.data.category_name + "</p>"
                            temp += "<div class='card-footer text-muted'>"

                            temp += "</div></div></div>"
                            $("#prodContainer").append(temp);
                        }

                    }
                })
                
            })
        }
    })
    })
</script>

{% endblock %}